*{
    margin: 0;
    padding: 0;
}

/* @media only screen and (min-width: 800px) { */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header" 
                         "section1  section2 section3 section4"
                         "section1 section6 section6 section5"
                         "footer footer footer footer ";
}
.header{
    grid-area: header;
    height: 20vh;
    background-color: blueviolet;
    color: black;
    /* grid-column: 1/5; */

}
.footer{
    grid-area: footer;
    height: 20vh;
    background-color: blueviolet;
    color: black;
    /* grid-column: 1/5; */

}
.section1{
    grid-area: section1;
    height: 80vh;
    background-color: gray;
    color: black;
    /* grid-column: 1/2; */

}
.section2{
    grid-area: section2;
    height: 40vh;
    background-color: rgb(230, 128, 128);
    color: black;
    /* grid-column: 2/3; */

}
.section3{
    grid-area: section3;
    height: 40vh;

    background-color: rgb(255, 0, 0);
    color: black;
    /* grid-column: 3/5; */

}
.section4{
    grid-area: section4;
    height: 40vh;

    background-color: rgb(0, 255, 128);
    color: black;
    /* grid-column: 3/5; */

}
.section5{
    grid-area: section5;
    height: 40vh;

    background-color: rgb(61, 7, 66);
    color: black;
    /* grid-column: 3/6; */
}
.section6{
    grid-area: section6;
    height: 40vh;

    background-color: rgb(14, 147, 152);
    color: black;
    /* grid-column: 3/6; */

}
/* } */

@media only screen and (max-width: 400px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header" 
                             "section1"
                             "section2"
                             "section3"
                             "section4"
                             "section6"
                             "footer";
    }
    .header{
        grid-area: header;
        height: 10vh;
        background-color: blueviolet;
        color: black;
        /* grid-column: 1/5; */
    
    }
    .footer{
        grid-area: footer;
        height: 20vh;
        background-color: blueviolet;
        color: black;
        /* grid-column: 1/5; */
    
    }
    .section1{
        grid-area: section1;
        height: 40vh;
        background-color: gray;
        color: black;
        /* grid-column: 1/2; */
    
    }
    .section2{
        grid-area: section2;
        height: 40vh;
        background-color: rgb(230, 128, 128);
        color: black;
        /* grid-column: 2/3; */
    
    }
    .section3{
        grid-area: section3;
        height: 40vh;
    
        background-color: rgb(255, 0, 0);
        color: black;
        /* grid-column: 3/5; */
    
    }
    .section4{
        grid-area: section4;
        height: 40vh;
    
        background-color: rgb(0, 255, 128);
        color: black;
        /* grid-column: 3/5; */
    
    }
    .section5{
        grid-area: section5;
        height: 40vh;
    
        background-color: rgb(61, 7, 66);
        color: black;
        /* grid-column: 3/6; */
    }
    .section6{
        grid-area: section6;
        height: 40vh;
    
        background-color: rgb(14, 147, 152);
        color: black;
        /* grid-column: 3/6; */
    
    }
}

@media only screen and (min-width: 600px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" 
                             "section1 section2"
                             "section3 section4"
                             "section6 section5"
                             "footer footer";
    }
    .header{
        grid-area: header;
        height: 20vh;
        background-color: blueviolet;
        color: black;
        /* grid-column: 1/5; */
    
    }
    .footer{
        grid-area: footer;
        height: 20vh;
        background-color: blueviolet;
        color: black;
        /* grid-column: 1/5; */
    
    }
    .section1{
        grid-area: section1;
        height: 40vh;
        background-color: gray;
        color: black;
        /* grid-column: 1/2; */
    
    }
    .section2{
        grid-area: section2;
        height: 40vh;
        background-color: rgb(230, 128, 128);
        color: black;
        /* grid-column: 2/3; */
    
    }
    .section3{
        grid-area: section3;
        height: 40vh;
    
        background-color: rgb(255, 0, 0);
        color: black;
        /* grid-column: 3/5; */
    
    }
    .section4{
        grid-area: section4;
        height: 40vh;
    
        background-color: rgb(0, 255, 128);
        color: black;
        /* grid-column: 3/5; */
    
    }
    .section5{
        grid-area: section5;
        height: 40vh;
    
        background-color: rgb(61, 7, 66);
        color: black;
        /* grid-column: 3/6; */
    }
    .section6{
        grid-area: section6;
        height: 40vh;
    
        background-color: rgb(14, 147, 152);
        color: black;
        /* grid-column: 3/6; */
    
    } 
}