*{
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 601px) {
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" 
                         "section1  section1 section1 "
                         "section2 section3 section4 "
                         "footer footer footer ";
    gap: 20px;
}
header{
    grid-area: header;
    height: 20vh;
    background-color: rgb(0, 183, 255);
    color: black;
    /* grid-column: 1/5; */

}
footer{
    grid-area: footer;
    height: 20vh;
    background-color: blueviolet;
    color: black;
    /* grid-column: 1/5; */

}
.section1{
    grid-area: section1;
    height: 50vh;
    background-color: darkorange;
    color: black;
    /* grid-column: 1/2; */

}
.section2{
    grid-area: section2;
    height: 40vh;
    background-color: rgb(255, 0, 0);
    color: black;
    /* grid-column: 2/3; */

}
.section3{
    grid-area: section3;
    height: 40vh;

    background-color: rgb(255, 0, 0);
    color: black;
    /* grid-column: 3/5; */

}
.section4{
    grid-area: section4;
    height: 40vh;

    background-color: rgb(255, 0, 0);
    color: black;
    /* grid-column: 3/5; */

}
}

@media only screen and (max-width: 300px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header" 
                             "section1"
                             "section2"
                             "section3"
                             "section4"
                             "footer";
                             gap: 20px;
                            }
                            header{
                                grid-area: header;
                                height: 20vh;
                                background-color: rgb(0, 183, 255);
                                color: black;
                                /* grid-column: 1/5; */
                            
                            }
                            footer{
                                grid-area: footer;
                                height: 20vh;
                                background-color: blueviolet;
                                color: black;
                                /* grid-column: 1/5; */
                            
                            }
                            .section1{
                                grid-area: section1;
                                height: 50vh;
                                background-color: darkorange;
                                color: black;
                                /* grid-column: 1/2; */
                            
                            }
                            .section2{
                                grid-area: section2;
                                height: 40vh;
                                background-color: rgb(255, 0, 0);
                                color: black;
                                /* grid-column: 2/3; */
                            
                            }
                            .section3{
                                grid-area: section3;
                                height: 40vh;
                            
                                background-color: rgb(255, 0, 0);
                                color: black;
                                /* grid-column: 3/5; */
                            
                            }
                            .section4{
                                grid-area: section4;
                                height: 40vh;
                            
                                background-color: rgb(255, 0, 0);
                                color: black;
                                /* grid-column: 3/5; */
                            
                            }
    
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" 
                             "section1 section2"
                             "footer footer";
                             gap: 20px;
                            }
                            header{
                                grid-area: header;
                                height: 20vh;
                                background-color: rgb(0, 183, 255);
                                color: black;
                                /* grid-column: 1/5; */
                            
                            }
                            footer{
                                grid-area: footer;
                                height: 20vh;
                                background-color: blueviolet;
                                color: black;
                                /* grid-column: 1/5; */
                            
                            }
                            .section1{
                                grid-area: section1;
                                height: 80vh;
                                width: 30vb;
                                background-color: darkorange;
                                color: black;
                                /* grid-column: 1/2; */
                            
                            }
                            .section2{
                                grid-area: section2;
                                height: 80vh;
                                width: 70vb;
                                background-color: rgb(255, 0, 0);
                                color: black;
                                /* grid-column: 2/3; */
                            
                            }
} 