*{
    margin: 0;
    padding: 0;
}
footer{
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    justify-content: space-between;
    
}
.hover:hover{
    background-color: aquamarine;
}
.hover{
    padding-top: 30%;
    padding-left: 7%;
    width: 50px;
}